#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

#password_image_wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%
}

#password_image {
  width: 100%;
  height: 100%;
  
}

#password-section {
  position: relative;
}